name: batch-stack

services:
  batch:
    build:
      context: ../..
      dockerfile: services/batch/Dockerfile
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8083:8083"
    networks: [appnet]
    depends_on: [batch-dapr]

  batch-dapr:
    image: "daprio/daprd:1.12.4"
    command: [
      "./daprd",
      "-app-id", "batch-service",
      "-app-port", "8083",
      "-dapr-http-port", "3503",
      "-dapr-grpc-port", "50003",
      "-components-path", "/components"
    ]
    volumes:
      - ../../dapr/components:/components:ro
    ports:
      - "3503:3503"
      - "50003:50003"
    networks: [appnet]
    depends_on: [redis, kafka, placement]

networks:
  appnet:
    name: spring-monorepo-net
    external: true
